	/* GOOGLE FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}

/* HEADER  */

/* NAVBAR */

.navbar-brand img{
	height: 100px;
	
}


.social-icons-nav{
	font-size: 30px;
	
}


.social-icons-nav i{
	padding: 0px 5px;
	color: black;	
}





@media only screen and (max-width: 600px) {

	.navbar-brand img{
		height: 80px;
		
	}
	
	.social-icons-nav{
		font-size: 15px;
	}

}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
	color: black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: red;
	
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .active .nav-link{
		color: red;
		
}

/* MAIN  */

/* SLIDER  */
.home .carousel-item{
	min-height: 80vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}



/* WHATSAPP  */
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
		padding-top: 8px;
}

.whatsapp a:hover{
	color: rgb(255, 255, 255);
	

}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     
    .whatsapp_float {
        width: 40px;
       height: 40px;
        right: 10px;
        font-size: 20px;
    }
}


/* CARDS  */
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

.card {
    cursor: pointer
}

.hd {
    font-size: 3rem;
	font-family: 'Fuggles', cursive;
    font-weight: 550;
	margin: 2rem;

}

hr {
	position: relative;
	border: none;
	height: 2px;
	background: black;
	margin-bottom: 50px;
	width: 25%;
}
.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
	 margin-bottom: 35px;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222) */
}

.card-title {

	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}


/* CARD WORK  */
:root{
	--background-dark: #2d3548;
	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 100%;
  }
  
  
  .hero-section{
	align-items: flex-start;
	background-image: white;
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  }
  
  .card-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
  }
  
  @media(min-width: 540px){
	.card-grid{
	  grid-template-columns: repeat(2, 1fr); 
	}
  }
  
  @media(min-width: 960px){
	.card-grid{
	  grid-template-columns: repeat(4, 1fr); 
	}
  }
  
  .card-work{
	list-style: none;
	position: relative;
  }
  
  .card-work:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
  }
  
  .card-work:hover .card__background{
	transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card-work:not(:hover) .card__background{
	filter: brightness(0.7) saturate(0) contrast(1) blur(5px);
  }
  
  .card__content{
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
  }
  
  
  
  .card__heading{
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
	word-spacing: 100vw;
	
  }


  /* INSTAGRAM FEED  */

  .main{
	position: relative;
	height: 100%;
	width: 100%;
}

.main .gallery{
	position: relative;
	height: auto;
	width: 90%;
	margin: auto;
	padding: 45px 0;
	display: grid;
	grid-template-columns: auto auto auto auto; /*i write auto four time because we want four rows*/
	grid-gap: 2vh;
	grid-auto-flow: dense;
}
.main .gallery .img{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9 );
	border-radius: 2px;
}
.main .gallery .img:first-child{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.main .gallery .img:nth-child(2n+3){
	grid-row-start: span 2;
}
.main .gallery .img:nth-child(4n+5){
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.main .gallery .img:nth-child(6n+7){
	grid-row-start: span 1;
}
.main .gallery .img:nth-child(8n+9){
	grid-column-start: span 1;
	grid-row-start: span 1;
}
.main .gallery .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.5) grayscale(1);
	border-radius: 2px;
	transition: 0.3s ease-in-out;
}
.main .gallery .img:hover img{
	filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 768px){
	
	.main .gallery{
		display: grid;
		grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 430px){
	
	.main .gallery{
		display: block;
	}
	.main .gallery .img{
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.main .gallery .img img{
		display: block;
		filter: brightness(1) grayscale(0);
	}
}



